.transparentClass {
    background: rgba(0,0,0, 0.5);
}

body {
    background-color: rgb(5, 5, 5);
    color: rgb(215, 218, 220);
}

.pointerStyle {
}

.banner {
    border-color: rgb(20, 20, 20);
    background-color: rgb(31, 31, 31)
}

.banner a {
}

.banner titu {
    color: rgb(240, 243, 245)
}

.banner a:hover {
    background-color: rgb(44, 44, 44);
}
.banner a.logIn {
    background-color: rgb(81, 167, 102);
}

.banner a.logIn:hover {
    background-color: rgb(91, 177, 112);
}

.banner a.logOut {
    background-color: rgb(182, 75, 75);
}

.banner a.logOut:hover {
    background-color: rgb(212, 86, 86);
}

.gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.1) -100%, rgba(255, 255, 255, 0) 100%);
}

#bottomText {
}

#theRealStuff {
}

#news {
}

#news small {
    color: rgb(200, 200, 200);
}

.content {
    background-color: rgb(26, 26, 26);
    border-color: rgb(56, 56, 56);
}

.content:hover {
    background-color: rgb(31, 31, 31);
}

.contentNoHover:hover {
	background-color: rgb(26, 26, 26);
    border-color: rgb(56, 56, 56);
}

.write {
    background-color: rgb(36, 36, 36);
}

.write:hover {
    background-color: rgb(45, 45, 45);
}

.writeClick:hover {
    background-color: rgb(36, 36, 36);
}

#blobNews {
    background-color: rgb(26, 26, 26);
    border-color: rgb(56, 56, 56);
}

#blobNews:hover {
    background-color: rgb(31, 31, 31);
}

#contentHolder {
}

.nodisplay {
}

#alertBox {
	background-color: rgb(27, 27, 27);
    border-color: rgb(36, 36, 36);
}

#alertBoxContent {
}

#alertBoxClose {
}

#blobInput {
    background-color: rgba(19, 19, 19, 0);
    color: rgb(240, 243, 245);
}

#sendImg {
}

#theme_switcher {
}

input {
    background-color: rgb(15, 15, 15);
    color: rgb(240, 243, 245);
    border-color: rgb(36, 36, 36);
}

.date {
}

div.sticky {
    background-color: #0489B1;
    color: white;
}

.uInput {
	border-color: rgb(15, 15, 15);
}

.dogeSymbol {
	background-color: rgb(15, 15, 15);
	border-color: rgb(15, 15, 15);
}

.login {
	background-color: rgb(51, 153, 102);
	border-color: rgb(38, 115, 77);
}

.register {
	background-color: rgb(51, 102, 153);
	border-color: rgb(38, 77, 115);
}

.logout {
	background-color: rgb(153, 51, 51);
	border-color: rgb(115, 38, 38);
}

.loginFont {
	background-color: rgb(40, 40, 40);
	border-color: rgb(36, 36, 36);
}

.loginFont:hover {
	background-color: rgb(30, 30, 30);
}

.loginFontSelected {
	background-color: rgb(26, 26, 26);
}

.loginFontSelected:hover {
	background-color: rgb(26, 26, 26);
}