.transparentClass {
    background: rgba(255,255,255, 0.5);
}

body {
    background-color: #FAFAFA;
}

.pointerStyle {
}

.banner {
    border-color: #BFBFBF;
    background-color: #E3E3E3;
}

.banner a {
}

.banner titu {
}

.banner a:hover {
    background-color: #D8D8D8;
}
.banner a.logIn {
    background-color: #A9F5BC;
}

.banner a.logIn:hover {
    background-color: #81F79F;
}

.banner a.logOut {
    background-color: #F5A9A9;
}

.banner a.logOut:hover {
    background-color: rgb(243, 151, 151);
}

.gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.1) -100%, rgba(255, 255, 255, 0) 100%);
}

#bottomText {
}

#theRealStuff {
}

#news {
}

#news small {
    color: rgb(40, 40, 40);
}

.content {
    background-color: rgb(243, 243, 243);
    border-color: rgb(206, 206, 206);
}

.content:hover {
    background-color: rgb(238, 238, 238);
}

.contentNoHover:hover {
    background-color: rgb(243, 243, 243);
    border-color: rgb(206, 206, 206);
}

.write {
    background-color: rgb(223, 223, 223);
}

.write:hover {
    background-color: rgb(218, 218, 218);
}

.writeClick:hover {
    background-color: rgb(223, 223, 223);
}

#blobNews {
    background-color: rgb(243, 243, 243);
    border-color: rgb(206, 206, 206);
}

#blobNews:hover {
    background-color: rgb(238, 238, 238);
}

#contentHolder {
}

.nodisplay {
}

#alertBox {
    background-color: #F2F2F2;
    border-color: rgb(223, 223, 223);
}

#alertBoxContent {
}

#alertBoxClose {
}

#blobInput {
    background-color: rgba(243, 243, 243, 0);
    color: rgb(0, 0, 0);
}

#sendImg {
}

#theme_switcher {
}

input {
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);
    border-color: rgb(223, 223, 223)
}

.date {
}

div.sticky {
    background-color: #01A9DB;
    color: white;
}

.uInput {
    border-color: rgb(251, 251, 251);
}

.dogeSymbol {
	background-color: rgb(251, 251, 251);
	border-color: rgb(251, 251, 251);
}

.login {
	background-color: 	rgb(70, 185, 128);
	border-color: rgb(56, 148, 102);
	color: white;
}

.register {
	background-color: rgb(70, 128, 185);
	border-color: rgb(56, 102, 148);
}

.logout {
	background-color: rgb(185, 70, 70);
	border-color: rgb(172, 83, 83);
}

.loginFont {
    background-color: rgb(230, 230, 230);
    border-color: rgb(220, 220, 220);
}

.loginFont:hover {
    background-color: rgb(236, 236, 236);
}

.loginFontSelected {
    background-color: rgb(243, 243, 243);
}

.loginFontSelected:hover {
    background-color: rgb(243, 243, 243);
}