<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>BlobdogeFront</display-name>

	<welcome-file-list>
		<welcome-file>wallet</welcome-file>
	</welcome-file-list> 
	
	<security-constraint>
	<web-resource-collection>
	<web-resource-name>Web</web-resource-name>
	<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.post.Login</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.post.Register</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.visual.Home</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>claim</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.visual.Claim</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>link</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.visual.Link</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.post.Logout</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>sendToAddress</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.post.SendToAddress</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>sendToURL</servlet-name>
		<servlet-class>ch.blobber.blobdogefront.servlets.post.SendToURL</servlet-class>
	</servlet>

	
	<filter>
    	<filter-name>StartupFilter</filter-name>
    	<filter-class>ch.blobber.blobdogefront.filter.StartupFilter</filter-class>
	</filter>

	<error-page>
		<location>/error</location>
	</error-page>

</web-app>